.CFUserTextEncoding
.DS_Store
.vscode/
data
src/config/iterm*
src/config/op
src/vscode-server
src/vscode/extensions/*/**
**/.*history*
**/.*hist*
**/vim/.netrwhist
**/test
**/tmp
**/temp
src/vscode/argv.json
